@using DevIo.AppMvc.Extensions;
@model IEnumerable<DevIo.AppMvc.ViewModels.ProdutoViewModel>

@{
    ViewBag.Title = "Lista de Produtos";
}

<h1>@ViewBag.Title</h1>
<hr />

@{
    if (this.PermitirExibicao("Produto", "Adicionar"))
    {
        <p>
            <a class="btn btn-info" href="@Url.Action("Create", "Produtos")">
                Novo Produto
            </a>
        </p>
    }
}



@Html.Partial("_ListaProdutos")